---
layout: default
---

<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-0 text-lowercase">
      <li class="breadcrumb-item"><a href="{{ '/' | prepend: site.baseurl }}">home</a></li>
      <li class="breadcrumb-item"><a href="{{ '/conferences' | prepend: site.baseurl }}">conferences</a></li>
    </ol>
  </nav>

  <div class="row m-0" style="width: 100%;">
    <div class="col-sm-12 p-0">
      <h5 class="mb-4">{{ page.description }}</h5>
    </div>
  </div>

  <div class="container-fluid p-0 text-justify">
    {{ content }}
  </div>