---
---


<div class="row m-0 mt-3 p-0">
  <div class="col-sm-1 p-0 abbr">
    {% if entry.abbr %}
      {% if site.data.venues[entry.abbr] %}
        <a class="badge font-weight-bold danger-color-dark align-middle" style="width: 53px;" href="{{site.data.venues[entry.abbr].url}}" target="_blank">
          {{entry.abbr}}
        </a>
      {% else %}
        <span class="badge font-weight-bold danger-color-dark align-middle" style="width: 53px;">
          {{entry.abbr}}
        </span>
      {% endif %}
    {% endif %}
  </div>
  {% if entry.abbr %}
  <div class="col-sm-11 mt-2 mt-sm-0 p-0 pl-xs-0 pl-sm-4 pr-xs-0 pr-sm-2">
    {% assign entry_id = entry.key | replace: ':', '-' %}
    <div id="{{entry_id}}" class="col p-0">
      <h5 class="title mb-0">{{entry.title}}.</h5>
      <div class="author">
        {% for author in entry.author_array %}
          {% if forloop.length == 1 %}
            {% if author.last contains site.scholar.last_name %}
              <nobr><em>{{author.first}} {{author.last}}</em>.</nobr>
            {% else %}
              {% if site.data.coauthors[author.last] %}
                <nobr><a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>.</nobr>
              {% else %}
                <nobr>{{author.first}} {{author.last}},</nobr>
              {% endif %}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author.last contains site.scholar.last_name %}
                <nobr><em>{{author.first}} {{author.last}}</em>,</nobr>
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  <nobr><a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>,</nobr>
                {% else %}
                  <nobr>{{author.first}} {{author.last}},</nobr>
                {% endif %}
              {% endif %}
            {% else %}
              and
              {% if author.last == site.scholar.last_name %}
                <nobr><em>{{author.first}} {{author.last}}</em>.</nobr>
              {% else %}
                {% if site.data.coauthors[author.last] %}
                  <nobr><a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>.</nobr>
                {% else %}
                  <nobr>{{author.first}} {{author.last}}</nobr>
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>

      <div>
        <p class="periodical font-italic">
          {% if entry.type == "article" %}
            In {{entry.journal}},
          {% elsif entry.type == "inproceedings" %}
            In {{entry.booktitle}},
          {% elsif entry.type == "thesis" %}
            In {{entry.booktitle}}
          {% elsif entry.type == "eprint" %}
            In {{entry.booktitle}} ({{entry.eprint}}),
          {% endif %}
          {% if entry.year %}
            {{entry.year}}.
          {% else %}
            .
          {% endif %}
          {% if entry.future %}
            (To appear)
          {% endif %}
        </p>
      </div>
    
      <div class="col p-0">
        {% if entry.abstract %}
          <a class="badge grey waves-effect font-weight-light mr-1" data-toggle="collapse" href="#{{entry_id}}-abstract" role="button" aria-expanded="false" aria-controls="{{entry_id}}-abstract">Abstract</a>
        {% endif %}
        {% if entry.bibtex %}
          <a class="badge grey waves-effect font-weight-light mr-1" data-toggle="collapse" href="#{{entry_id}}-bibtex" role="button" aria-expanded="false" aria-controls="{{entry_id}}-bibtex">BibTeX</a>
        {% endif %}
        {% if entry.url %}
          {% if entry.type == "preprint" %}
            <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.url }}" target="_blank">ArXiv</a>
          {% else %}
            <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.url }}" target="_blank">Publisher</a>
          {% endif %}
        {% endif %}
        {% if entry.pdf %}
            <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.pdf | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">PDF</a>
        {% endif %}
        {% if entry.supp %}
          <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.supp | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">Supplementary</a>
        {% endif %}
        {% if entry.addendum %}
          <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.addendum | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">Addendum</a>
        {% endif %}
        {% if entry.poster %}
          <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.poster | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">Poster</a>
        {% endif %}
        {% if entry.slides %}
          <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.slides | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">Slides</a>
        {% endif %}
        {% if entry.code %}
          <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.code }}" target="_blank">Code</a>
        {% endif %}
        {% if entry.arxiv %}
          <a class="badge grey waves-effect font-weight-light mr-1" href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>
        {% endif %}
        {% if entry.video %}
          <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.video }}" target="_blank">Video</a>
        {% endif %}
      </div>
    
      {% if entry.abstract %}
      <div class="col mt-2 p-0">
        <div id="{{entry_id}}-abstract" class="collapse">
          <div class="abstract card card-body font-weight-light mr-0 mr-sm-3 p-3">
            {{ entry.abstract }}
          </div>
        </div>
      </div>
      {% endif %}
      {% if entry.bibtex %}
      <div class="col mt-2 p-0">
        <div id="{{entry_id}}-bibtex" class="collapse">
          <div class="bibtex card card-body font-weight-light mr-0 mr-sm-3 p-3">
            {{ entry.bibtex }}
          </div>
        </div>
      </div>
      {% endif %}

      {% if entry.oldv1 %}
      <div>
        Older Version(s):
        <p class="periodical font-italic">
          {{ entry.oldn1 }}.<br>
          {{ entry.olda1 }}.<br>
          In {{ entry.oldv1 }}
          <div class="col p-0">
            {% if entry.oldurl1 %}
              <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.oldurl1 }}" target="_blank">Publisher</a>
            {% endif %}
            {% if entry.oldpdf1 %}
            <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.oldpdf1 | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if entry.oldposter1 %}
            <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.oldposter1 | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if entry.oldslides1 %}
            <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.oldslides1 | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if entry.oldvideo1 %}
            <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.oldvideo1 }}" target="_blank">Video</a>
          {% endif %}
          </div>
        </p>
        <p class="periodical font-italic">
          {{ entry.oldn2 }}.<br>
          {{ entry.olda2 }}.<br>
          In {{ entry.oldv2 }}
          <div class="col p-0">
            {% if entry.oldurl2 %}
              <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.oldurl2 }}" target="_blank">Publisher</a>
            {% endif %}
            {% if entry.oldpdf2 %}
            <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.oldpdf2 | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if entry.oldposter2 %}
            <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.oldposter2 | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if entry.oldslides2 %}
            <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.oldslides2 | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
          </div>
        </p>
        <p class="periodical font-italic">
          {{ entry.oldn3 }}.<br>
          {{ entry.olda3 }}.<br>
          In {{ entry.oldv3 }}
          <div class="col p-0">
            {% if entry.oldurl3 %}
              <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.oldurl3 }}" target="_blank">Publisher</a>
            {% endif %}
            {% if entry.oldpdf3 %}
            <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.oldpdf3 | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if entry.oldposter3 %}
            <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.oldposter3 | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if entry.oldslides3 %}
            <a class="badge grey waves-effect font-weight-light mr-1" href="{{ entry.oldslides3 | prepend: '/assets/pdf/' | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
          </div>
        </p>
      </div>
      {% endif %}
    </div>

  </div>
  {% endif %}
</div>


<script>
function copyBibTeX(entry_id) {
  alert("Will Copy the text");
  var copyText = document.getElementById(entry_id);
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
  alert("Copied the text: " + copyText.value);
}
</script>
